
.min-width-500 {
    min-width: 500px !important;
}

.max-width-500 {
    max-width: 500px !important;
}

.btn-login {
    height: 50px !important;
    padding: 16px 5px;
}

.link_hover:hover {
    color: #0b0b0b;
}

#btn-submit {
    color: #FFFFFF;
}

.quantity {
    user-select: none;
}

@media only screen and (min-width: 550px) {
    .form-login {
        min-width: 500px !important;
    }
}

.form-register {
    width: 700px;
}

.form-register form input {
    font-size: 14px;
    color: #b7b7b7;
    height: 50px;
    width: 100%;
    border: 1px solid #e1e1e1;
    padding-left: 20px;
    padding-right: 12px;
}

#gioi_tinh_nam, #gioi_tinh_nu {
    font-size: 14px;
    color: #b7b7b7;
    height: 15px;
    width: 15px;
    padding-bottom: 12%;
    padding-left: 20px;
}

.form-register form input::-webkit-input-placeholder {
    color: #b7b7b7;
}

.form-register form input::-moz-placeholder {
    color: #b7b7b7;
}

.form-register form input:-ms-input-placeholder {
    color: #b7b7b7;
}

.form-register form input::-ms-input-placeholder {
    color: #b7b7b7;
}

.form-register form input::placeholder {
    color: #b7b7b7;
}

.cart-dropdown {
    width: 320px;
    max-height: 330px;
    overflow: hidden;
}

.header__nav__option ul li:hover .cart-dropdown {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
    width: 320px;
    min-height: 240px;
    max-height: 350px;
    overflow-y: scroll;
    opacity: 1;
    top: 26px;
    visibility: visible;
    padding: 20px 0px 0px 20px;
}

.cart_product_item {
    margin: 0;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid #ededed;
}

.cart_product_item .cart_content {
    padding: 0;
}

.cart_product_item .cart_content .title {
    padding-right: 0;
    color: #222;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    /*text-overflow: ellipsis;*/
}

.cart_product_item .thumb img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    background-color: #f3f2ee;
}

.cart_product_item .thumb {
    padding: 0;
}


.header__nav__option ul li .cart-dropdown {
    position: absolute;
    top: 56px;
    right: -1.2em;
    background: #FFFFFF;
    text-align: left;
    padding: 5px 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.cart-btn-group {
    display: flex !important;
    align-items: center;
    flex-direction: column;
}

.cart_btn {
    text-align: center;
    width: 225px;
    height: 49px;
    color: #FFFFFF !important;
    margin-bottom: 10px;
    cursor: pointer;
}

.header__nav__option ul .list_product_items {
    width: 100%;
    margin: 0;
}

.w_100 {
    width: 100%;
}

/* custom scrollbar */
.cart-dropdown::-webkit-scrollbar {
    width: 20px;
    display: none;
}

.cart-dropdown::-webkit-scrollbar-track {
    background-color: transparent;
    position: absolute;
}

.cart-dropdown::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.cart_trash {
    cursor: pointer;
    position: absolute !important;
    right: 17px;
    top: 18px;
    display: inline-block !important;
    left: auto;
    font-size: 23px;
}

.boxshadow_drop {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}

.cart-dropdown::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.product_quantity {
    font-size: 13px;
    font-weight: 500;
}

.product_price {
    color: #f76b6a;
}

.cart-total h5 {
    font-size: 18px;
    font-weight: 800;
    width: 100%;
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
}

.rating .giaGoc {
    text-decoration: line-through;
}

.product__item {
    box-shadow: 0 6px 12px rgba(140, 152, 164, .075);
}

.product_name {
    max-width: 261px;
    overflow: hidden;
    white-space: nowrap;
}

.susor-pointer {
    cursor: pointer;
}

.label_select_color {
    border-style: solid;
    border-width: 1px;
    border-color: #bdc9c7;
}

.activeSelected {
    border-style: solid !important;
    border-width: 2px !important;
    border-color: #000000 !important;
}

#btn-load-more-product {
    border-radius: 25px;
}

.product__details__option__color label:after {
    border: none;
}

.mini_img {
    max-height: 36rem;
    overflow-y: auto;
    object-fit: cover;
}

.mini_img::-webkit-scrollbar {
    display: none;
}

.product-img-show {
    height: 36rem;
    object-fit: cover;
}

.product__thumb__pic {
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.swal2-timer-progress-bar {
    background-color: black;
}

.shop__sidebar__categories ul li .active, .shop__sidebar__price ul li .active, .shop__sidebar__brand ul li .active {
    color: #111111;
}

.shop__sidebar__tags .active {
    background: #111111;
    color: #ffffff;
}

.product__option__size label {
    color: #111111;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #e5e5e5;
    padding: 0px 3px;
    margin-bottom: 2px;
    margin-right: 0;
    cursor: pointer;
}


.product__option__size label input {
    position: absolute;
    visibility: hidden;
}

.product__option__size {
    display: inline-block;
    position: absolute;
    opacity: 0;
}

.product__option__size span {
    color: #111111;
    display: inline-block;
    margin-right: 10px;
}

.product__option__size .active {
    background: #111111;
    color: #ffffff;
    border-color: #111111;
}


.mr-3p {
    margin-right: 3px !important;
}

.text-hien-thi {
    font-size: 15px;
}

.height-mid {
    height: 23px;
}

#quantity__item_carts {
    position: absolute !important;
    top: -10px !important;
    right: -5px;
    background-color: #c19e9e;
    padding: 3px;
    border-radius: 111px;
    height: 21px;
    width: 21px;
    display: flex;
    justify-content: center;
}

.btn-fullscreen {
    right: 52px;
    cursor: pointer;
}

.checkbox-wrapper-30 .checkbox {
    --bg: #fff;
    --brdr: #d1d6ee;
    --brdr-actv: #1e2235;
    --brdr-hovr: #bbc1e1;
    --dur: calc((var(--size, 2) / 2) * 0.6s);
    display: inline-block;
    width: calc(var(--size, 1) * 22px);
    position: relative;
}

.checkbox-wrapper-30 .checkbox:after {
    content: "";
    width: 100%;
    padding-top: 100%;
    display: block;
}

.checkbox-wrapper-30 .checkbox > * {
    position: absolute;
}

.checkbox-wrapper-30 .checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background-color: var(--bg);
    border-radius: calc(var(--size, 1) * 4px);
    border: calc(var(--newBrdr, var(--size, 1)) * 1px) solid;
    color: var(--newBrdrClr, var(--brdr));
    outline: none;
    margin: 0;
    padding: 0;
    transition: all calc(var(--dur) / 3) linear;
}

.checkbox-wrapper-30 .checkbox input:hover,
.checkbox-wrapper-30 .checkbox input:checked {
    --newBrdr: calc(var(--size, 1) * 2);
}

.checkbox-wrapper-30 .checkbox input:hover {
    --newBrdrClr: var(--brdr-hovr);
}

.checkbox-wrapper-30 .checkbox input:checked {
    --newBrdrClr: var(--brdr-actv);
    transition-delay: calc(var(--dur) / 1.3);
}

.checkbox-wrapper-30 .checkbox input:checked + svg {
    --dashArray: 16 93;
    --dashOffset: 109;
}

.checkbox-wrapper-30 .checkbox svg {
    fill: none;
    left: 0;
    pointer-events: none;
    stroke: var(--stroke, var(--border-active));
    stroke-dasharray: var(--dashArray, 93);
    stroke-dashoffset: var(--dashOffset, 94);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    top: 0;
    transition: stroke-dasharray var(--dur), stroke-dashoffset var(--dur);
}

.checkbox-wrapper-30 .checkbox svg,
.checkbox-wrapper-30 .checkbox input {
    display: block;
    height: 100%;
    width: 100%;
}

.cart__close i {
    cursor: pointer;
}

.paging_full_numbers .dt-paging-button {

}

.paging_full_numbers .dt-paging-button:hover {
    background-color: black;
    color: white;
}


.wraper_user {
    display: inline-flex;
    justify-content: center;
    position: relative;
}

.wraper_user label {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -6px;
    right: 55px;
    border-radius: 25px;
}

.img_avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.img-main-product {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-banner {
    background-color: #adadad;
}