<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LightBee</title>
    <title>LightBee</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/customer/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/style.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/custom.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<div th:replace="~{customer/pages/_header.html}"></div>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" th:attr="data-setbg=${setupData.getBanner1()}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Bộ sưu tập mùa hè</h6>
                            <h2 th:text="${setupData.getTitle1()}"></h2>
                            <p th:text="${setupData.getMo_ta2()}"></p>
                            <a href="#" class="primary-btn">Mua ngay <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" th:attr="data-setbg=${setupData.getBanner2()}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Bộ sưu tập mùa xuân</h6>
                            <h2 th:text="${setupData.getTitle2()}"></h2>
                            <p th:text="${setupData.getMo_ta2()}"></p>
                            <a href="#" class="primary-btn">Mua ngay <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img th:if="${setupData.getSan_pham1()==null}" src="/assets/customer/img/banner/banner-1.jpg" alt="">
                        <img class="img-banner" th:if="${setupData.getSan_pham1()!=null}" th:src="${setupData.getSan_pham1().getMainImage().getUrl()}" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2 th:text="${setupData.getTitle_sp1()}">Bộ sưu tập giày 2030</h2>
                        <a th:if="${setupData.getSan_pham1()==null}" href="/shop">Mua ngay</a>
                        <a th:if="${setupData.getSan_pham1()!=null}" th:href="'/shop-detail?product='+${setupData.getSan_pham1().getId()}">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img th:if="${setupData.getSan_pham2()==null}" src="/assets/customer/img/banner/banner-2.jpg" alt="">
                        <img  class="img-banner" th:if="${setupData.getSan_pham2()!=null}" th:src="${setupData.getSan_pham2().getMainImage().getUrl()}" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2 th:text="${setupData.getTitle_sp2()}">Phụ kiện</h2>
                        <a th:if="${setupData.getSan_pham2()==null}" href="/shop">Mua ngay</a>
                        <a th:if="${setupData.getSan_pham2()!=null}" th:href="'/shop-detail?product='+${setupData.getSan_pham2().getId()}">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img th:if="${setupData.getSan_pham3()==null}" src="/assets/customer/img/banner/banner-3.jpg" alt="">
                        <img  class="img-banner" th:if="${setupData.getSan_pham3()!=null}" th:src="${setupData.getSan_pham3().getMainImage().getUrl()}" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2 th:text="${setupData.getTitle_sp3()}">Phụ kiện</h2>
                        <a th:if="${setupData.getSan_pham3()==null}" href="/shop">Mua ngay</a>
                        <a th:if="${setupData.getSan_pham3()!=null}" th:href="'/shop-detail?product='+${setupData.getSan_pham3().getId()}">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Bán Chạy</li>
                    <li data-filter=".new-arrivals">Sản Phẩm Mới</li>
                    <li data-filter=".hot-sales">Giảm Giá Sốc</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter">
            <div class="col-lg-3 col-md-6 col-sm-6 product_wraper mix new-arrivals" th:each="sp:${newproduct}">
                <div class="product__item sale" th:attr="data-product-id=${sp.getId()}">
                    <th:block th:each="anh:${sp.getAnh()}" th:if="${anh.isMain == true}">
                        <div class="product__item__pic set-bg susor-pointer"
                             th:attr="data-setbg=${anh.getUrl()}, data-href=@{/shop-detail(product=${sp.getId()})}">
                            <img class="img-main-product d-none" th:src="${anh.getUrl()}" alt="">
                            <span class="label" th:if="${sp.hasSale()}">SALE</span>
                            <ul class="product__hover">
                                <li><a href="javascript:;"><img src="/assets/customer/img/icon/heart.png"
                                                                alt=""></a>
                                </li>
                                <li>
                                    <a class="btn-add-to-cart" href="javascript:;"><img
                                            src="/assets/customer/img/icon/shopping-cart-add.svg"
                                            alt=""></a>
                                </li>
                                <li><a th:href="@{/shop-detail(product=${sp.getId()})}"><img
                                        src="/assets/customer/img/icon/eye.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </th:block>
                    <div class="product__item__text ">
                        <h6 class="product_name" th:text="${sp.getTen()}"></h6>
                        <a th:href="@{/shop-detail(product=${sp.getId()})}" class="add-cart">Mua Ngay</a>
                        <th:block th:each="ctsp,iter:${sp.getChiTietSanPham()}">
                            <th:block th:if="${iter.index == 0}">
                                <div class="rating">
                                    <h6 class="giaGoc pb-3"
                                        th:if="${iter.index == 0 and ctsp.getGiaGoc()==ctsp.getGiaBan()}"></h6>
                                    <h6 class="giaGoc"
                                        th:if="${iter.index == 0 and ctsp.getGiaGoc()!=ctsp.getGiaBan()}"
                                        th:text="${#numbers.formatDecimal (ctsp.getGiaGoc(), 1, 'DEFAULT', 0, 'DEFAULT')} + 'đ'"></h6>
                                </div>
                            </th:block>
                            <h5 th:if="${iter.index == 0}"
                                th:text="${#numbers.formatDecimal (ctsp.getGiaBan(), 1, 'DEFAULT', 0, 'DEFAULT')} + 'đ'"></h5>
                        </th:block>
                        <div class="product__option__size">
                            <th:block th:each="size:${sp.getDistinctKichCoList()}">
                                <label class="label_select_size"
                                       th:for="'size_id_'+${size.getId()}+'_'+${sp.getId()}">
                                    <th:block th:text="${size.getTen()}"></th:block>
                                    <input class="size_selected" th:name="'kichthuoc'+${sp.getId()}"
                                           type="radio" th:id="'size_id_'+${size.getId()}+'_'+${sp.getId()}"
                                           th:value="${size.getTen()}" data-id-size="4">
                                </label>
                            </th:block>
                        </div>
                        <div class="product__color__select">
                            <th:block th:each="ms:${sp.getDistinctMauSacList()}">
                                <label th:style="'background-color:' + ${ms.getMaMauSac()}">
                                    <input type="radio" th:value="${ms.getMaMauSac()}">
                                </label>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 product_wraper mix hot-sales" th:each="sp:${saleproduct}">
                <div class="product__item sale" th:attr="data-product-id=${sp.getId()}">
                    <th:block th:each="anh:${sp.getAnh()}" th:if="${anh.isMain == true}">
                        <div class="product__item__pic set-bg susor-pointer"
                             th:attr="data-setbg=${anh.getUrl()}, data-href=@{/shop-detail(product=${sp.getId()})}">
                            <img class="img-main-product d-none" th:src="${anh.getUrl()}" alt="">
                            <span class="label" th:if="${sp.hasSale()}">SALE</span>
                            <ul class="product__hover">
                                <li><a href="javascript:;"><img src="/assets/customer/img/icon/heart.png"
                                                                alt=""></a>
                                </li>
                                <li>
                                    <a class="btn-add-to-cart" href="javascript:;"><img
                                            src="/assets/customer/img/icon/shopping-cart-add.svg"
                                            alt=""></a>
                                </li>
                                <li><a th:href="@{/shop-detail(product=${sp.getId()})}"><img
                                        src="/assets/customer/img/icon/eye.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </th:block>
                    <div class="product__item__text ">
                        <h6 class="product_name" th:text="${sp.getTen()}"></h6>
                        <a th:href="@{/shop-detail(product=${sp.getId()})}" class="add-cart">Mua Ngay</a>
                        <th:block th:each="ctsp,iter:${sp.getChiTietSanPham()}">
                            <th:block th:if="${iter.index == 0}">
                                <div class="rating">
                                    <h6 class="giaGoc pb-3"
                                        th:if="${iter.index == 0 and ctsp.getGiaGoc()==ctsp.getGiaBan()}"></h6>
                                    <h6 class="giaGoc"
                                        th:if="${iter.index == 0 and ctsp.getGiaGoc()!=ctsp.getGiaBan()}"
                                        th:text="${#numbers.formatDecimal (ctsp.getGiaGoc(), 1, 'DEFAULT', 0, 'DEFAULT')} + 'đ'"></h6>
                                </div>
                            </th:block>
                            <h5 th:if="${iter.index == 0}"
                                th:text="${#numbers.formatDecimal (ctsp.getGiaBan(), 1, 'DEFAULT', 0, 'DEFAULT')} + 'đ'"></h5>
                        </th:block>
                        <div class="product__option__size">
                            <th:block th:each="size:${sp.getDistinctKichCoList()}">
                                <label class="label_select_size"
                                       th:for="'size_id_'+${size.getId()}+'_'+${sp.getId()}">
                                    <th:block th:text="${size.getTen()}"></th:block>
                                    <input class="size_selected" th:name="'kichthuoc'+${sp.getId()}"
                                           type="radio" th:id="'size_id_'+${size.getId()}+'_'+${sp.getId()}"
                                           th:value="${size.getTen()}" data-id-size="4">
                                </label>
                            </th:block>
                        </div>
                        <div class="product__color__select">
                            <th:block th:each="ms:${sp.getDistinctMauSacList()}">
                                <label th:style="'background-color:' + ${ms.getMaMauSac()}">
                                    <input type="radio" th:value="${ms.getMaMauSac()}">
                                </label>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Categories Section Begin -->
<section class="categories spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="categories__text">
                    <h2>Giày bán chạy<br /><span>Bộ sưu tập giày</span> <br /> Sản phẩm mới</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories__hot__deal">
                    <img th:if="${setupData.getSan_pham_sale()==null}" src="/assets/customer/img/anh2.jpg" alt="">
                    <img th:if="${setupData.getSan_pham_sale()!=null}" th:src="${setupData.getSan_pham_sale().getMainImage().getUrl()}" alt="">
                    <div class="hot__deal__sticker">
                        <span>Giảm giá</span>
                        <h5 th:text="${phanTramGiam}+'%'"></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="categories__deal__countdown">
                    <span>Giao dịch trong tuần</span>
                    <h2 th:text="${setupData.getTitle_sp_sale()}">Giày thể thao đơn giản</h2>
                    <div class="categories__deal__countdown__timer" id="countdown" th:attr="data-time=${setupData.getThoi_gian_sale()}">
                        <div class="cd-item">
                            <span>3</span>
                            <p>Ngày</p>
                        </div>
                        <div class="cd-item">
                            <span>1</span>
                            <p>Giờ</p>
                        </div>
                        <div class="cd-item">
                            <span>50</span>
                            <p>Phút</p>
                        </div>
                        <div class="cd-item">
                            <span>18</span>
                            <p>Giây</p>
                        </div>
                    </div>
                    <a th:if="${setupData.getSan_pham_sale()==null}" href="#" class="primary-btn">Mua ngay</a>
                    <a th:if="${setupData.getSan_pham_sale()!=null}" th:href="'/shop-detail?product='+${setupData.getSan_pham_sale().getId()}" class="primary-btn">Mua ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Instagram Section Begin -->
<section class="instagram spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instagram__pic">
                    <div class="instagram__pic__item set-bg" data-setbg="/assets/customer/img/instagram/instagram-1.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/assets/customer/img/instagram/instagram-2.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/assets/customer/img/instagram/instagram-3.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/assets/customer/img/instagram/instagram-4.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/assets/customer/img/instagram/instagram-5.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="/assets/customer/img/instagram/instagram-6.jpg"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>Instagram</h2>
                    <p>Những người thành công làm điều mà những người không
                        thành công không sẵn sàng làm. Đừng ước nó dễ dàng hơn, hãy ước bạn tốt hơn. </p>
                    <h3>#LightBee</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instagram Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest spad">
</section>
<!-- Latest Blog Section End -->

<!-- Footer Section Begin -->
<div th:replace="~{customer/pages/_footer.html}"></div>
<!-- Footer Section End -->
<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Tìm kiếm ở đây.....ic">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="/assets/customer/js/jquery-3.3.1.min.js"></script>
<script src="/assets/customer/js/bootstrap.min.js"></script>
<script src="/assets/customer/js/jquery.nice-select.min.js"></script>
<script src="/assets/customer/js/jquery.nicescroll.min.js"></script>
<script src="/assets/customer/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/customer/js/jquery.countdown.min.js"></script>
<script src="/assets/customer/js/jquery.slicknav.js"></script>
<script src="/assets/customer/js/mixitup.min.js"></script>
<script src="/assets/customer/js/owl.carousel.min.js"></script>
<script src="/assets/customer/js/main.js"></script>
<script>
    setTabsHeader('index');
</script>
</body>

</html>