<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BeeShoes | Liên Hệ</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/customer/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/style.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/custom.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <div th:replace="~{customer/pages/_header.html}"></div>
    <!-- Header Section End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__text">
                        <div class="section-title">
                            <h2>Liên Hệ</h2>
                            <p>Công Ty TNHH Kinh Doanh Giày LightBee </p>
                        </div>
                        <ul>
                            <li>
                                <h4>HÀ NỘI</h4>
                                <p>24 Đ. Nguyễn Cơ Thạch, P.Mỹ Đình, Nam Từ Liêm, Hà Nội, Việt Nam<br />+84 866-755-653</p>
                            </li>
                            <li>
                                <h4>HO CHI MINH</h4>
                                <p>169 Đ. Bùi Viện, P.Phạm Ngũ Lão, Quận 1, TP.Hồ Chí Minh, Việt Nam <br />+84 845-999-999</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Tên">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Email">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Nội Dung"></textarea>
                                    <button type="submit" class="site-btn">Gửi</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Map Begin -->
    <div class="map">
<!--        <iframe src= width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.93159138066!2d105.76261388345169!3d21.035423030778475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b93c73ca9d%3A0x210784911132ebe!2zMjQgUC4gTmd1eeG7hW4gQ8ahIFRo4bqhY2gsIE3hu7kgxJDDrG5oLCBOYW0gVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1704888116400!5m2!1svi!2s" height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <!-- Map End -->


    <!-- Footer Section Begin -->
    <div th:replace="customer/pages/_footer.html"></div>
    <!-- Footer Section End -->


    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Tìm kiếm ở đây.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="/assets/customer/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/customer/js/bootstrap.min.js"></script>
    <script src="/assets/customer/js/jquery.nice-select.min.js"></script>
    <script src="/assets/customer/js/jquery.nicescroll.min.js"></script>
    <script src="/assets/customer/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/customer/js/jquery.countdown.min.js"></script>
    <script src="/assets/customer/js/jquery.slicknav.js"></script>
    <script src="/assets/customer/js/mixitup.min.js"></script>
    <script src="/assets/customer/js/owl.carousel.min.js"></script>
    <script src="/assets/customer/js/main.js"></script>
    <script>
        setTabsHeader('contact');
    </script>

</body>

</html>