<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BeeShoes | Cửa hàng</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/customer/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/style.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/custom.css" type="text/css">
    <link rel="stylesheet" href="/assets/customer/css/shop.css" type="text/css">
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header Section Begin -->
<div th:replace="~{customer/pages/_header.html}"></div>
<!-- Header Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Cửa hàng</h4>
                    <div class="breadcrumb__links">
                        <a href="./index">Trang chủ</a>
                        <span>Cửa hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="javascript:;">

                            <input id="form-search-product" type="text" placeholder="Search...">

                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Thể Loại</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#collapseOne">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                <th:block th:each="tl:${lsttheloai}">
                                                    <li><a class="selected_cate" th:attr="data-id=${tl.getId()}"
                                                           href="javascript:;"
                                                           th:text="${tl.getTen()}+' ( '+${tl.getCountProduct()}+' )'"></a>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Thương Hiệu</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#collapseTwo">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                <th:block th:each="th:${lstthuonghieu}">
                                                    <li><a class="selected_brand" href="javascript:;"
                                                           th:attr="data-id=${th.getId()}" th:text="${th.getTen()}"></a>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Khoảng Giá</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#collapseThree">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a class="selected_price" data-id="0->1000000" href="javascript:;">0đ
                                                    - 1.000.000đ</a></li>
                                                <li><a class="selected_price" data-id="1000000->5000000"
                                                       href="javascript:;">1.000.000đ - 5.000.000đ</a></li>
                                                <li><a class="selected_price" data-id="5000000->10000000"
                                                       href="javascript:;">5.000.000đ - 10.000.000đ</a></li>
                                                <li><a class="selected_price" data-id="10000000+" href="javascript:;">10.000.000đ
                                                    +</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Kích Cỡ</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#collapseFour">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            <th:block th:each="size:${lstkichco}">
                                                <label class="selected_size" th:attr="data-id=${size.getTen()}"
                                                       th:for="'size'+${size.getId()}">
                                                    <th:block th:text="${size.getTen()}"></th:block>
                                                    <!--                                                    <input class="d-none" type="radio" name="selected_size"  th:id="'size'+${size.getId()}">-->
                                                </label>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">Màu Sắc</a>
                                </div>
                                <div id="collapseFive" class="collapse show" data-parent="#collapseFive">
                                    <div class="card-body">
                                        <div class="shop__sidebar__color">
                                            <th:block th:each="color:${lstmausac}">
                                                <label class="label_select_color"
                                                       th:attr="data-id=${color.getMaMauSac()}" data-toggle="tooltip"
                                                       data-placement="top" title="Tooltip on top"
                                                       th:for="'color'+${color.getId()}"
                                                       th:style="'background-color:'+${color.getMaMauSac()} ">
                                                    <input class="select_color" type="radio"
                                                           th:id="'color'+${color.getId()}">
                                                </label>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                </div>
                                <div id="collapseSix" class="collapse show" data-parent="#collapseSix">
                                    <div class="card-body">
                                        <div class="shop__sidebar__tags">
                                            <th:block th:each="tag:${lsttags}">
                                                <a class="selected_tags" th:attr="data-id=${tag.getTen()}"
                                                   href="javascript:;" th:text="${tag.getTen()}"></a>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <label class="text-hien-thi">Hiển Thị 1 –> <label class="text-hien-thi"
                                                                                  id="total-num-show"
                                                                                  th:text="${#lists.size(lstsanpham.getContent())}"></label>
                                    Trong Tổng Số
                                    <th:block th:text="${totalsize}"></th:block>
                                    Kết Quả
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Xắp xếp theo giá:</p>
                                <select id="selected_filter_price">
                                    <option value="all">Tất Cả</option>
                                    <option value="cao-den-thap">Cao đến Thấp</option>
                                    <option value="thap-den-cao">Thấp đến Cao</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mixitup-transitions-enabled" id="list_product_items">
                    <div class="col-lg-4 col-md-6 col-sm-6 product_wraper" th:each="sp:${lstsanpham.getContent()}">
                        <div class="product__item sale" th:attr="data-product-id=${sp.getId()}">
                            <th:block th:each="anh:${sp.getAnh()}" th:if="${anh.isMain == true}">
                                <div class="product__item__pic set-bg susor-pointer"
                                     th:attr="data-setbg=${anh.getUrl()}, data-href=@{/shop-detail(product=${sp.getId()})}">
                                    <img class="img-main-product" th:src="${anh.getUrl()}" alt="" onerror="reGetImgError(this)">
                                    <span class="label" th:if="${sp.isSale()}">SALE</span>
                                    <ul class="product__hover">
                                        <li><a href="javascript:;"><img src="/assets/customer/img/icon/heart.png"
                                                                        alt=""></a>
                                        </li>
                                        <li>
                                            <a class="btn-add-to-cart" href="javascript:;"><img
                                                    src="/assets/customer/img/icon/shopping-cart-add.svg"
                                                    alt=""></a>
                                        </li>
                                        <li><a th:href="@{/shop-detail(product=${sp.getId()})}"><img
                                                src="/assets/customer/img/icon/eye.svg" alt=""></a></li>
                                    </ul>
                                </div>
                            </th:block>
                            <div class="product__item__text ">
                                <h6 class="product_name" th:text="${sp.getTen()}"></h6>
                                <a th:href="@{/shop-detail(product=${sp.getId()})}" class="add-cart">Mua Ngay</a>
                                <th:block th:each="ctsp,iter:${sp.getChiTietSanPham()}">
                                    <th:block th:if="${iter.index == 0}">
                                        <div class="rating">
                                            <h6 class="giaGoc pb-3"
                                                th:if="${iter.index == 0 and ctsp.getGiaGoc()==ctsp.getGiaBan()}"></h6>
                                            <h6 class="giaGoc"
                                                th:if="${iter.index == 0 and ctsp.getGiaGoc()!=ctsp.getGiaBan()}"
                                                th:text="${#numbers.formatDecimal (ctsp.getGiaGoc(), 1, 'DEFAULT', 0, 'DEFAULT')} + 'đ'"></h6>
                                        </div>
                                    </th:block>
                                    <h5 th:if="${iter.index == 0}"
                                        th:text="${#numbers.formatDecimal (ctsp.getGiaBan(), 1, 'DEFAULT', 0, 'DEFAULT')} + 'đ'"></h5>
                                </th:block>
                                <div class="product__option__size">
                                    <th:block th:each="size:${sp.getDistinctKichCoList()}">
                                        <label class="label_select_size"
                                               th:for="'size_id_'+${size.getId()}+'_'+${sp.getId()}">
                                            <th:block th:text="${size.getTen()}"></th:block>
                                            <input class="size_selected" th:name="'kichthuoc'+${sp.getId()}"
                                                   type="radio" th:id="'size_id_'+${size.getId()}+'_'+${sp.getId()}"
                                                   th:value="${size.getTen()}" data-id-size="4">
                                        </label>
                                    </th:block>
                                </div>
                                <div class="product__color__select">
                                    <th:block th:each="ms:${sp.getMauSac()}">
                                        <label th:style="'background-color:' + ${ms.getMaMauSac()}">
                                            <input type="radio" th:value="${ms.getMaMauSac()}">
                                        </label>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">

                            <button id="btn-load-more-product" class="primary-btn" type="button">Xem Thêm</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<!-- Footer Section Begin -->
<div th:replace="~{customer/pages/_footer.html}"></div>
<!-- Footer Section End -->


<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Tìm kiếm ở đây.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="/assets/customer/js/jquery-3.3.1.min.js"></script>
<script src="/assets/customer/js/bootstrap.min.js"></script>
<script src="/assets/customer/js/jquery.nice-select.min.js"></script>
<script src="/assets/customer/js/jquery.nicescroll.min.js"></script>
<script src="/assets/customer/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/customer/js/jquery.countdown.min.js"></script>
<script src="/assets/customer/js/jquery.slicknav.js"></script>
<script src="/assets/customer/js/mixitup.min.js"></script>
<script src="/assets/customer/js/owl.carousel.min.js"></script>
<script src="/assets/customer/js/main.js"></script>
<script src="/assets/customer/js/shop/shop.js"></script>
<script>
    setTabsHeader('shop');
</script>
</body>

</html>