<div class="w-100" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-12">
            <div style="display:inline-block;width:100%;overflow-x:auto;white-space:nowrap;">
                <ul class="timeline timeline-horizontal" id="myTimeline">
                    <li class="timeline-item" th:each="lshd : ${lichSuHoaDonListNotSort}">
                        <div th:class="'timeline-badge ' + ${lshd.trangThaiSauUpdate == 'Hủy' ? 'danger' : 'success'}">
                            <i class="tio-checkmark-square-outlined"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <p><small class="text-muted" th:text="${lshd.hanhDong}"><i class="tio-timer"></i></small></p>
                                <h4 class="timeline-title" th:text="${lshd.trangThaiSauUpdate}"></h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>