.change-password {
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
    padding: 20px;
    height: 50vh;
}
.box-title-change-password {
  border-bottom: 1px solid rgb(235, 235, 235);
  height: 59px;
  display: flex;
  align-items: center;
}
.box-form-change-password {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.form-new-password {
  width: 520px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
.form-confirm-password {
  width: 520px;
  display: flex;
  align-items: center;
  position: relative;
}
.label-form-change-password {
  margin-left: auto;
}
.input-change-password {
  border: 1px solid rgb(201, 201, 201);
  height: 50px;
  width: 400px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;

  &:focus {
    border: 1px solid black;
  }
}
.show-new-password{
    position: absolute;
    right: 2%;
    cursor: pointer;
}
.show-confirm-password{
    position: absolute;
    right: 2%;
    cursor: pointer;
}
.input-confirm-password{
    border: 1px solid rgb(201, 201, 201);
    height: 50px;
    width: 400px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    &:focus {
      border: 1px solid black;
    }
}
.form-submit-change-password{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.submit-change-password{
    width: 100px;
    height: 40px;
    background-color: #f85a21;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
