<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="col-7 bg-white shadow-md p-5">
        <div class="mb-4 text-center bi bi-x-circle text-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor"
                 viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </div>
        <div class="text-center">
            <h3>Đặt hàng thất bại!</h3>
            <p>Xảy ra lỗi khi thanh toán đơn hàng, vui lòng thử lại!</p>
            <a th:href="@{/shopping-cart}" class="btn btn-outline-info">Thanh toán lại?</a>
        </div>
    </div>
</div>