.profile-account {
  border: 1px solid rgb(241, 241, 241);
  height: 100%;
  padding: 20px 30px;
  background-color: #fff;
}
.title-profile-account {
  height: 59px;
  border-bottom: 1px solid rgb(241, 241, 241);
}
.title-profile {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}
.sub-title-profile {
  font-size: 13px;
  color: gray;
}
.content-profile-account {
  padding: 40px 10px;
  width: 100%;
  display: flex;
}
.box-input-form-profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.form-profile-account {
  width: 70%;
  text-align: center;
}
.box-input-info-profile {
  margin-left: 15px;
}
.input-info-profile {
  margin-left: 15px;
  height: 40px;
  width: 85%;
  border: 1px solid rgb(202, 202, 202);
  padding: 10px;
  border-radius: 10px;
}
.input-info-profile .placeholder {
  color: #d3d3d3;
  }
.input-date-of-birth-profile {
  margin-left: 15px;
  height: 40px;
  width: 85%;
  border: 1px solid rgb(202, 202, 202);
  padding: 10px;
  font-size: 13px;
  color: rgb(65, 65, 65);
  border-radius: 10px;
}
.form-image-account {
  flex: 1;
  margin-left: auto;
  border-left: 1px solid rgb(228, 228, 228);
  text-align: center;
}
.img-form-edit-profile {
 
  border-radius: 100%;
  margin-bottom: 20px;
}
.button-upload-image-profile {
  width: 100px;
  height: 40px;
  border: 1px solid #d3d3d3;
  color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.button-upload-image-profile:hover {
  border: 1px solid #ff4400;
  color: #ff4400;
  cursor: pointer;
}
.button-update-profile{
    width: 20%;
    height: 40px;
    background-color:#ff4400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    border-radius: 10px;
}
:where(.css-dev-only-do-not-override-1m62vyb).ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color: #ff4c16;
    background-color: #ff3116;
}
